@model WCFClient.Models.EmployeeModel

@section scripts{
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $('.btn-warning').click(function () {
                var row = $(this).closest('tr');
                $tds = row.find("td");             // Finds all children <td> elements
                $tds = $tds.slice(0, -1);

                var values = []
                $.each($tds, function () {
                    values.push($(this).text().trim());
                    //console.log($(this).text());
                });
                console.log(values);
                $('#exampleModal').modal('show');
                var values2 = [values[4], values[2], values[5], values[1], values[0], values[3]]
                //for(int)
                $('.form-control').each(function () {
                    console.log($(this).attr('id'));
                    $(this).val(values2.shift());
                })
            })

            $('.btn-danger').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Home/DelEmployee',
                    data: { id: this.name },
                    cache: false,
                    success: function (result) {
                        window.location.href = '@Url.Action("Employees", "Home")';
                    }
                });
            });

            $('#Deptname').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetDepts",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                },
                minLength: 0
            });

            $('#Deptname').autocomplete("option", "appendTo", "#exampleModal");
        });
    </script>
}

@{
    ViewBag.Title = "Employees";
}
<style>
    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 1001 !important
    }
</style>

<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 10px; margin-top: 10px;">
        Add Employee
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Employees", "Home", FormMethod.Post))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.Label("Name")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.Name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Hire Date")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Hiredate, new { placeholder = "02/20/2019", @type = "date", @class = "form-control" })
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.Hiredate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Salary")
                                </td>
                                <td>
                                    @Html.TextBoxFor(a => a.Salary, new { placeholder = "4", @type = "number", @class = "form-control", @step = "0.01" })
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(a => a.Salary)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Department Name")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Deptname, new { placeholder = "HR", @class = "form-control" })
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.Deptname)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Address")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Address, new { placeholder = "123 abc ave", @class = "form-control" })
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.Address)
                                </td>
                            </tr>
                            <tr style="display: none">
                                <td>
                                    @Html.TextBoxFor(m => m.Id, new { @Value = "-1", placeholder = "aa", @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align:center;">
                                    <input id="sub" type="submit" value="Submit" class="btn btn-primary" style="margin-top: 10px;"/>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                    }
                    <span style="display:none">a</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary" id="add">Add Employee</button>*@
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("EmpTbl");}
</div>
